<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Ad View</title>
</head>
<body>
<div class="container" dir="rtl">
    {% for advertiser in advertisers %}
        <div class="card mt-2 p-2">
            <h5 class="card-title">{{ advertiser.name }}</h5>
            <div class="card-body">
                <div class="row">
		    {% for ad in advertiser.ad_set.all %}
                    {% if ad.approved == True %}
		        <div class="card col-md-2 p-0 mx-2">
		            <a href="{% url 'advertiser_management:increaseClicks' ad.id %}">
		                <img src="{{ ad.imgUrl }}"
		                     class="card-img-top">
		                <div class="card-body">
		                    <span>{{ ad.title }}</span>
		                </div>
		            </a>
		        </div>
                    {% endif %}
		    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{% url 'advertiser_management:showForm' %}">Create a new ad here.</a>
<br><br>
<a href="{% url 'advertiser_management:report' %}">Report on ad stats</a>
</body>
</html>
