<!DOCTYPE html>
<html lang="en">

<h1>Creating new ad</h1>
{% if erorMessage %}<p><strong>{{ erorMessage }}</strong></p>{% endif %}

<form action="{% url 'advertiser_management:submitAd' %}" method="POST">
    {% csrf_token %}
    Your ad title:<br><input type="text" name="Title">
    <br>
    Your ad link:<br><input type="url" name ="Link">
    <br>
    Your ad image link:<br><input type="url" name="ImgUrl">
    <br>
    Choose an advertiser <br>
    {% for advertiser in advertisers %}
        <input type="radio" name="advertiser" id="advertiser{{ forloop.counter }}" value="{{ advertiser.id }}">
        <label for="advertiser{{ forloop.counter }}">{{ advertiser.name }}</label>
        <br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>