<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report</title>
</head>

<body>

<a href="{% url 'advertiser_management:reportClicksAndViews' %}">
    Click here to see report on number of views and clicks per hour.
</a>
<br>
<br>
<a href="{% url 'advertiser_management:reportRatio' %}">
    Click here to see report on the ratio of clicks and views per hour.
</a>
<br>
<br>
<a href="{% url 'advertiser_management:reportTimeToClick' %}">
    Click here to see the estimated time for users to click on ads.
</a>
</body>